<!DOCTYPE html>
<html>
<body>
  <!-- FSD.JS.10.1 !-->
  <h1>Change the buttons text color random value</h1>
  <button>Click here to change my color</button>

  <!-- FSD.JS.10.2 !-->
  <h1>My color should change when I double click the button!</h1>
  <button>Double Click here to change the color of the h1 tag !</button>
  
  <!-- FSD.JS.10.3 !-->
  <h1>The buttons color changes to a random value when it is clicked! But only two times!</h1>
  <button>Click here to change my color!</button>
  <script>
  
  </script>
</body>
</html>
