<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<input type="text" name="name" id="name">
	<select id="gender">
		<option value="">--</option>
		<option value="male">M</option>
		<option value="female">F</option>
	</select>
	<input type="text" name="email" id="email">
	<input type="text" name="mobile" id="mobile">
	<hr>
	<h1 id="dName">NAME</h1>
	<h2 id="dGender">GENDER</h2>
	<h3 id="dEmail">EMAIL</h3>
	<h4 id="dMobile">MOBILE</h4>
	<hr>
	<button>NAME</button>
	<button>GENDER</button>
	<button>EMAIL</button>
	<button>MOBILE</button>
	<button>RESET FORM</button>
    <button>RESET DISPLAY</button>
    <!-- Clicking the buttons shows the respective values in the designated locations
    The reset will change back to the original values when the page is loaded -->
	</script>
</body>
</html>