<html>
    <head>
        <title>Practise Creators</title>
    </head>
    <body>
        <div id="headings">
        </div>
        <div id="cont">
        </div>
        <ul id="vikings">
            <li>Priyanshu</li>
        </ul>
        <button>Create H1</button>
        <button>Create 2 H3</button>
        <button>Create DIVS</button>
        <button>Add Students</button>
        <button>Add Copyright</button>
        <script>
            var students = ['Ajay','Akshay','Anusha','Chandrashekhara','Haren','Hasaan','Mahesh','Mousumi','Pavan','Rahul','Sumanta','Venkatesh','Vetrival','Vijayendra'];
        </script>
    </body>
</html>