<!DOCTYPE html>
<html>
<head>
	<title>Coding Session 1!</title>
</head>
<body>
	<!-- These elements below are for FSD.JS.9.1-->
	<h1> Create your own exponentiation function! </h1>
	<input type="text" name = "num1">
	<input type="text" name = "num2">
	<p> </p>
	</hr>
	<button onclick="exponent()">Click here to find the exponent!</button>
	<!-- These elements above are for FSD.JS.9.1-->

	<!-- These elements below are for FSD.JS.9.2-->
	<h1>Sum of multiples of 3 and 5!</h1>
	<p></p>
	<input type="text">
	<button onclick="sumOf3And5()">Click here for the output!</button>
	
	<!-- These elements above are for FSD.JS.9.2-->

	<!-- These elements below are for FSD.JS.9.3-->
	<h1>Check if the users email is valid!</h1>
	<label for="Email">Email</label>
	<input type="text" />
	<button onclick="validateEmail()">Check Email!</button>
	<!-- These elements above are for FSD.JS.9.3-->
	<script type="text/javascript">
		//Write javascript for FSD.JS.9.1 here
		function exponent(){
			
		}
		//Write javascript for FSD.JS.9.2 here
		function sumOf3And5(){
		}
		//Write javascript for FSD.JS.9.3 here
		function validateEmail(){
		}
	</script>
</body>
</html>