<html>
    <head>
        <title>Practise Selectors</title>
    </head>
    <body>
        <h1>First H1</h1>
        <h1>Second H1</h1>
        <h3>First H3</h3>
        <h3>Second H3</h3>
        <h5>First H5</h5>
        <h5>Second H5</h5>
        <h5>Third H5</h5>
        <div class="green">First DIV</div>
        <div class="red">Second DIV</div>
        <div class="blue">Third DIV</div>
        <p class="green">First P</p>
        <p class="red">Second P</p>
        <p class="blue">Third P</p>
        <hr/>
        <button>Change H1</button>
        <button>Change H3</button>
        <button>Change H5</button>
        <button>Change Green</button>
        <button>Change Red</button>
        <button>Change Blue</button>
        <script>
        </script>
    </body>
</html>