<!DOCTYPE html>
<html>
<head>
	<title>Colours</title>
</head>
<body>
	<h1 id="head1 red">MASAI H1</h1>
	<h2 id="head2 green">MASAI H2</h2>
	<h3 id="head3 red">MASAI H3</h3>
    <h4 id="head4 green">MASAI H4</h4>
    <h4 id="head5 green">MASAI H4</h4>
	<div id="con1 red">School C1</div>
	<div id="con2 green">School C2</div>
	<div id="con3 red">School C3</div>
	<p id="para1 red">Coding P1</p>
	<p id="para2 green">Coding P2</p>
	<p id="para3 red">Coding P3</p>
	<hr>
	<button>Change H1</button>
	<button>Change H2</button>
    <button>Change H3</button>
    <button>Change H4</button>
	<button>Change DIVS</button>
    <button>Change Paragraph</button>
    <button>Change Red</button>
    <button>Change Green</button>
</body>
</html>